.header{
	background-color:#6991AC;
	height: 250px;
}
.tabel1{
	background-color: #F1AA90;
	height: 100px;
}
.tabel2{
	background-color: #BEB9AD;
	height: 100px;
}
.tabel3{
	background-color: #AADCD2;
	height: 100px;
}
.tabel4{
	background-color: #A2B2C1;
	height: 100px;
}
.col1{
	background-color: #C3D7DF;
	height: 100px;
}
.col2{
	background-color: #A2B2C1;
	height: 100px;
}
.col3{
	background-color: #A2B2C1;
	height: 100px;
}
.col4{
	background-color: #C3D7DF;
	height: 100px;
}
.col5{
	background-color: #C3D7DF;
	height: 100px;
}
.col6{
	background-color: #A2B2C1;
	height: 100px;
}
.tabel5{
	background-color: #F1AA90;
	height: 150px;
}
.tabel6{
	background-color: #BEB9AD;
	height: 150px;
}
.tabel7{
	background-color: #AADCD2;
	height: 150px;
}
.footer{
	background-color:#6991AC;
	height: 200px;
}
.copyright{
	background-color: #544B59;
	height: 90px;
}